{
    "extends": "eslint:recommended",
    "env": {
        "es6": true
    },
    "rules": {
        "space-infix-ops": 2,
        "semi": 2,
        "semi-spacing": 2,
        "indent": ["error", 4]
    }
}
